<section class="content">
  <app-loading [condition]="loading"></app-loading>
  <div class="container">
    <div class="row">

      <div class="section-head text-center col-sm-12">
        <h3>Verify Email</h3>
      </div>

      <div class="offset-lg-1 col-lg-10">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

          <div class="controls">

            <div class="row">
              <div class="col-md-6 offset-md-3">
                <app-alert></app-alert>
              </div>
            </div>

            <div class="row">

              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <input type="email" formControlName="email" placeholder="Email *" [class.is-invalid]="validationErrors?.email" readonly/>

                  <div *ngIf="validationErrors?.email" class="invalid-error-block">
                    <span class="form-control-feedback">{{ validationErrors?.email[1] }}</span>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <input type="text" formControlName="verificationCode" placeholder="Verify code *" [class.is-invalid]="validationErrors?.verificationCode" />
                  
                  <div *ngIf="validationErrors?.verificationCode" class="invalid-error-block">
                    <span class="form-control-feedback">{{ validationErrors?.verificationCode[1] }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row login-navigation">
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                    <a routerLink="/auth/login">Login</a>
                  <a href="#" class="float-right" (click)="onResend($event)">Resend Code</a>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="butn butn-bg"><span>Verify</span></button>
              </div>
            </div>
              
          </div>
        </form>
      </div>
    </div>
  </div>
</section>