<section class="content">
  <app-loading [condition]="loading"></app-loading>
  <div class="container">
    <div class="row">

      <div class="section-head text-center col-sm-12">
        <h3>Forgot Password</h3>
      </div>

      <div class="offset-lg-1 col-lg-10">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

          <div class="controls">

            <div class="row">

              <div class="col-md-6 offset-md-3">
                <app-alert></app-alert>
              </div>
              
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <input type="email" formControlName="username" placeholder="Email *" [class.is-invalid]="validationErrors?.username" />

                  <div *ngIf="validationErrors?.username" class="invalid-error-block">
                    <span class="form-control-feedback">{{ validationErrors?.username[1] }}</span>
                  </div>
                </div>
              </div>

            </div>

            <div class="row login-navigation">
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <a routerLink="/auth/login">Log In</a>
                  <a routerLink="/auth/resetpassword" class="float-right">Reset Password</a>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="butn butn-bg"><span>Send request</span></button>
              </div>
            </div>
              
          </div>
        </form>
      </div>
    </div>
  </div>
</section>