.content {
    margin-top: 93px;
    min-height: 500px;
    padding-top: 80px;

    .section-head {
        margin-bottom: 50px;

        h3 {
            font-weight: 300;
        }
    }
}