<section class="content">
  <app-loading [condition]="loading"></app-loading>

  <div class="container">
    <div class="row">

      <div class="section-head text-center col-sm-12">
        <h3>Register</h3>
      </div>

      <div class="offset-lg-1 col-lg-10">
        <form [formGroup]="registerForm" class="form" (ngSubmit)="onSubmit($event)">

          <div class="controls">
            
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <app-alert></app-alert>
              </div>
            </div>
            <div class="row">
              <!-- User Type -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">User Type</label>
                  <select formControlName="type" class="form-select" id="select-type">
                    <option [value]="1">Individual</option>
                    <option [value]="2">Company</option>
                  </select>
                </div>    
              </div>
              <!--./ User Type -->

              <!-- Email -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Email *</label>
                  <input type="email" formControlName="email" placeholder="ex. john@gmail.com"
                    [class.is-invalid]="isInvalid('email')">

                  <div *ngIf="isInvalid('email')" class="invalid-error-block">
                    <span *ngIf="controls.email.errors.required" class="form-control-feedback">Email is required!</span>
                    <span *ngIf="controls.email.errors.email" class="form-control-feedback">Invalid email address!</span>
                  </div>

                  <div *ngIf="validationErrors?.email" class="invalid-error-block">
                    <span class="form-control-feedback">{{ validationErrors?.email[1] }}</span>
                  </div>
                </div>
              </div>
              <!--./ Email -->

            </div>

            <div class="row">
              <!-- Password -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Password *</label>
                  <input type="password" formControlName="password" [class.is-invalid]="isInvalid('password')">
                  
                  <div *ngIf="isInvalid('password')" class="invalid-error-block">
                    <span *ngIf="controls.password.errors.required" class="form-control-feedback">Password is required!</span>
                    <span *ngIf="controls.password.errors.minlength" class="form-control-feedback">Password must be at least 6 characters long!</span>
                  </div>

                  <div *ngIf="validationErrors?.password" class="invalid-error-block">
                    <span class="form-control-feedback">{{ validationErrors?.password[1] }}</span>
                  </div>
                </div>
              </div>
              <!--./ Password -->
              
            </div>

            <div *ngIf="controls.type.value == userTypes.INDIVIDUAL" class="row">
              <!-- First Name -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">First Name</label>
                  <input type="text" formControlName="firstName" placeholder="ex. John" [class.is-invalid]="isInvalid('firstName')">
                  
                  <div *ngIf="isInvalid('firstName')" class="invalid-error-block">
                    <span *ngIf="controls.firstName.errors.required" class="form-control-feedback">First name is required!</span>
                  </div>

                  <div *ngIf="validationErrors?.firstName" class="invalid-error-block">
                    <span class="form-control-feedback">{{ validationErrors?.firstName[1] }}</span>
                  </div>
                </div>
              </div>
              <!--./ First Name -->

              <!-- Last Name -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Last Name</label>
                  <input type="text" formControlName="lastName" placeholder="ex. Smith" [class.is-invalid]="isInvalid('lastName')">

                  <div *ngIf="isInvalid('lastName')" class="invalid-error-block">
                    <span *ngIf="controls.lastName.errors.required" class="form-control-feedback">Last name is required!</span>
                  </div>

                  <div *ngIf="validationErrors?.lastName" class="invalid-error-block">
                    <span class="form-control-feedback">{{ validationErrors?.lastName[1] }}</span>
                  </div>
                </div>
              </div>
              <!--./ Last Name -->
            </div>

            <div class="row">
              <!-- Country -->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Country</label>
                  <select formControlName="countryID" id="select-country" class="form-select" [class.is-invalid]="isInvalid('countryID')">
                    <option [value]=""></option>
                    <option *ngFor="let country of countries" [value]="country.ID">{{ country.name }}</option>
                  </select>
                  
                  <div *ngIf="isInvalid('countryID')" class="invalid-error-block">
                    <span *ngIf="controls.countryID.errors.required" class="form-control-feedback">Country is required!</span>
                  </div>

                  <div *ngIf="validationErrors?.countryID" class="invalid-error-block">
                    <span class="form-control-feedback">{{ validationErrors?.countryID[1] }}</span>
                  </div>
                </div>    
              </div>
              <!--./ Country -->
            </div>

            <ng-container *ngIf="controls.type.value == userTypes.COMPANY">
              <div class="row">
                <!-- Company Name -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Company Name</label>
                    <input type="text" formControlName="companyName" placeholder="ex. IT marketing" [class.is-invalid]="isInvalid('companyName')">

                    <div *ngIf="isInvalid('companyName')" class="invalid-error-block">
                      <span *ngIf="controls.companyName.errors.required" class="form-control-feedback">Company name is required!</span>
                    </div>

                    <div *ngIf="validationErrors?.companyName" class="invalid-error-block">
                      <span class="form-control-feedback">{{ validationErrors?.companyName[1] }}</span>
                    </div>
                  </div>
                </div>
                <!--./ Company Name -->

                <!-- Company Address -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Company Address</label>
                    <input type="text" formControlName="companyAddress" placeholder="ex. 30 street Newyork USA" [class.is-invalid]="isInvalid('companyAddress')">
                    
                    <div *ngIf="isInvalid('companyAddress')" class="invalid-error-block">
                      <span *ngIf="controls.companyAddress.errors.required" class="form-control-feedback">Company address is required!</span>
                    </div>

                    <div *ngIf="validationErrors?.companyAddress" class="invalid-error-block">
                      <span class="form-control-feedback">{{ validationErrors?.companyAddress[1] }}</span>
                    </div>
                  </div>
                </div>
                <!--./ Company Address -->
              </div>

              <div class="row">
                <!-- Company Registration Number -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Company Registration Number</label>
                    <input type="text" formControlName="companyRegistrationNumber" placeholder="ex. IT1001" [class.is-invalid]="isInvalid('companyRegistrationNumber')">
                    
                    <div *ngIf="isInvalid('companyRegistrationNumber')" class="invalid-error-block">
                      <span *ngIf="controls.companyRegistrationNumber.errors.required" class="form-control-feedback">Company registraion number is required!</span>
                    </div>

                    <div *ngIf="validationErrors?.companyRegistrationNumber" class="invalid-error-block">
                      <span class="form-control-feedback">{{ validationErrors?.companyRegistrationNumber[1] }}</span>
                    </div>
                  </div>
                </div>
                <!--./ Company Registration Number -->

                <!-- Company Vat Number -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Company VAT Number</label>
                    <input type="text" formControlName="companyVATNumber" placeholder="ex. 10000" [class.is-invalid]="isInvalid('companyVATNumber')">
                    
                    <div *ngIf="isInvalid('companyVATNumber')" class="invalid-error-block">
                      <span *ngIf="controls.companyVATNumber.errors.required" class="form-control-feedback">Company VAT number is required!</span>
                    </div>

                    <div *ngIf="validationErrors?.companyVATNumber" class="invalid-error-block">
                      <span class="form-control-feedback">{{ validationErrors?.companyVATNumber[1] }}</span>
                    </div>
                  </div>
                </div>
                <!--./ Company Vat Number -->
              </div>

              <div class="row">
                <!-- Contact First Name -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Contact First Name</label>
                    <input type="text" formControlName="contactFirstName" placeholder="ex. Jane" [class.is-invalid]="isInvalid('contactFirstName')">
                    
                    <div *ngIf="isInvalid('contactFirstName')" class="invalid-error-block">
                      <span *ngIf="controls.contactFirstName.errors.required" class="form-control-feedback">Contact first name is required!</span>
                    </div>

                    <div *ngIf="validationErrors?.contactFirstName" class="invalid-error-block">
                      <span class="form-control-feedback">{{ validationErrors?.contactFirstName[1] }}</span>
                    </div>
                  </div>
                </div>
                <!--./ Contact First Name -->

                <!-- Contact Last Name -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Contact Last Name</label>
                    <input type="text" formControlName="contactLastName" placeholder="ex. Lora" [class.is-invalid]="isInvalid('contactLastName')">
                    
                    <div *ngIf="isInvalid('contactLastName')" class="invalid-error-block">
                      <span *ngIf="controls.contactLastName.errors.required" class="form-control-feedback">Contact last name is required!</span>
                    </div>

                    <div *ngIf="validationErrors?.contactLastName" class="invalid-error-block">
                      <span class="form-control-feedback">{{ validationErrors?.contactLastName[1] }}</span>
                    </div>
                  </div>
                </div>
                <!--./ Contact Last Name -->
              </div>
            </ng-container>

            <br />
            <div class="row login-navigation">
              <!-- Password -->
              <div class="col-md-12 text-center">
                <div class="form-group">
                  Do you have already account? <a routerLink="/auth/login">Log In</a>
                </div>
              </div>
              <!--./ Password -->
            </div>
            
            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="butn butn-bg"><span>Register</span></button>
              </div>
            </div>
              
          </div>
        </form>
      </div>
    </div>
  </div>
</section>