<footer class="footer">
    <div class="container">
        <div>
            <h3 class="text-center" style="letter-spacing: 2px">Download ZauberVpn</h3>
            <br /><br />
            <div class="mb-60 text-center">
                <img class="img-app" src="assets/img/home/googleplay.png" alt="app-icon">
                <img class="img-app" src="assets/img/home/ios.png" alt="app-icon">
                <img class="img-app" src="assets/img/home/macos.png" alt="app-icon">
                <img class="img-app" src="assets/img/home/windows.png" alt="app-icon">
                <img class="img-app" src="assets/img/home/linux.png" alt="app-icon">
            </div>
        </div>
        
        <div class="row">
            
            <div class="col-lg-4">
                <div class="info mb-md50">
                    <!-- Logo -->
                    <a class="logo" href="#">
                        <img src="assets/img/logo_horizontal.png" alt="logo">
                    </a>
                    <h6>Creative <i>HTML5</i> Multipages Template.</h6>
                    <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                    <div class="social">
                        <span>Social : </span>
                        <a href="#0" class="icon">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                        <a href="#0" class="icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#0" class="icon">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#0" class="icon">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="las-post mb-md50">
                    <div class="title">
                        <h5>Recent Postes</h5>
                    </div>
                    <div class="item mb-15">
                        <a href="#0">
                            <div class="thum">
                                <img src="assets/img/blog/thum/1.jpg" alt="">
                            </div>
                            <div class="cont">
                                <h6>48 Best WordPress Themes</h6>
                                <p>6 August 2018 <span>By </span> Admin</p>
                            </div>
                        </a>
                    </div>
                    <div class="item mb-15">
                        <a href="#0">
                            <div class="thum">
                                <img src="assets/img/blog/thum/2.jpg" alt="">
                            </div>
                            <div class="cont">
                                <h6>Business Strategy Consule</h6>
                                <p>6 August 2018 <span>By </span> Admin</p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#0">
                            <div class="thum">
                                <img src="assets/img/blog/thum/3.jpg" alt="">
                            </div>
                            <div class="cont">
                                <h6>Obsession with all things</h6>
                                <p>6 August 2018 <span>By </span> Admin</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="tags">
                    <div class="title">
                        <h5>Tag Cloud</h5>
                    </div>
                    <span><a href="#0">Blog</a></span>
                    <span><a href="#0">Magazine</a></span>
                    <span><a href="#0">Link</a></span>
                    <span><a href="#0">Example</a></span>
                    <span><a href="#0">Muli</a></span>
                    <span><a href="#0">Video</a></span>
                    <span><a href="#0">Gallery</a></span>
                    <span><a href="#0">Quote</a></span>
                </div>
            </div>

        </div>
    </div>

    <div class="sub-footer text-center">
        <p>&copy; 2019 <b>ZauberVpn</b>. All Rights Reserved.</p>
    </div>
</footer>