.img-app {
    width: 150px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-right: 20px;
    

    &:hover {
        opacity: 0.6;
    }
}