<section class="content">
  <app-loading [condition]="loading"></app-loading>
  <div class="container">
    <div class="row">

      <div class="section-head text-center col-sm-12">
        <h3>Log In</h3>
      </div>

      <div class="offset-lg-1 col-lg-10">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">

          <div class="controls">

            <div class="row">
              <div class="col-md-6 offset-md-3">
                <app-alert></app-alert>
              </div>
            </div>
            
            <div class="row">

              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <label class="form-label">User Name</label>
                  <input type="email" formControlName="username" placeholder="ex. john@gmail.com" [class.is-invalid]="validationErrors?.username">
                  
                  <div *ngIf="validationErrors?.username" class="invalid-error-block">
                    <span class="form-control-feedback">{{ validationErrors?.username[1] }}</span>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <label class="form-label">Password</label>

                  <input type="password" formControlName="password" placeholder="" [class.is-invalid]="validationErrors?.password">

                  <div *ngIf="validationErrors?.password" class="invalid-error-block">
                    <span class="form-control-feedback">{{ validationErrors?.password[1] }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row login-navigation">
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <a href="#" (click)="onForgot($event)">Forgot password</a>
                  <a routerLink="/auth/register" class="float-right">Register</a>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="butn butn-bg"><span>Log In</span></button>
              </div>
            </div>
              
          </div>
        </form>
      </div>
    </div>
  </div>
</section>